@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-image: url(../icons/img_3381_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-page{
    display: flex;
    min-height:100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: 1s;
    /* background: -webkit-linear-gradient(45deg, rgb(189, 154, 207), rgb(18, 92, 94));
    background: -moz-linear-gradient(45deg, rgb(189, 154, 207), rgb(18, 92, 94));
    background: linear-gradient(45deg, rgb(189, 154, 207), rgb(18, 92, 94));*/
    
}

.weather-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,250px);
    grid-gap: 20px;
    width: 800px;
}
.weather-discription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
}
.weather-icon img{
    width: 130px;
    height: 130px;
    transition: 4;
}

.container{
    margin: 0 auto;
    max-width: 90%;
}


.weather-section{
    background: rgba(47, 79, 138, .7);
    transition: 1s;
}
.name-of-city{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding: 10px;
}
.weather-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.weather-for-all-day{
    grid-column-start: 1;
    grid-column-end: 3;
}
.weekday-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ext-weather{
    height: 170px;
    display: flex;
    align-items: center;
}
.ext-weather ul {
    width: 100%;
}
.ext-weather ul li{
    list-style: none;
    padding: 4px;
}
.ext-weather ul li span{
    font-style: italic;
    margin-left: 55%;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 240px;
}
.week-wrapper .wrapper{
    display: flex;
    flex-direction: column;
}
.week-wrapper .wrapper:not(:last-child){
    border-right: 2px solid #fff;
}

